.archived-btn{
    cursor: pointer;
    height: 49px;
    width: 100%;
    padding: 0 var(--space-mid);
}

.archived-btn > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.archived-btn__icon {
    height: 100%;
    width: 49px;
    margin: 0 var(--space-small);
    display: flex;
    align-items: center;
    justify-content: center;
}

.archived-btn__icon > svg {
    fill: var(--color-primary-normal);
}

.archived-btn__label{
    margin-left: var(--space-small);
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: var(--text-size-mid);
    color: var(--text-color-light);
}