.chat-tab-header {
    display: flex;
    align-items: flex-end;
    height: 108px;
    color: var(--text-color-light);
    font-size: var(--text-size-big);
    padding: var(--space-big);
    background-color: var(--tab-header-background-color);
}
.chat-tab-header > div {
    display: flex;
    align-items: center;
}

.chat-tab-header > div .btn{
    color: currentColor;
}

.chat-tab-header > div .btn > div {
    display: flex;
    align-items: center;
}

.chat-tab-header__tab-name {
    margin-left: var(--space-big);
}