.input-text{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: #2a3942;
}

.input-text > div{
    height: 100%;
}

.input-text > div > input {
    font-size: var(--text-size-normal);
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0 var(--space-mid);
    color: var(--text-color-mid);
}