* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root{
  /* element sizes */
  --header-height: 59px;

  /* colors */
  --color-primary-light: #06cf9c;
  --color-primary-normal: #00a884;
  --color-primary-dark: #005c4b; 
  
  --color-secondary-light: #53bdeb;

  --background-light: #202c33;
  --background-mid:  #111b21;

  
  /* icon colors */
  --ui-icon-light: #aebac1;

  /* margins */
  --space-mid: 16px;
}

html, body {
  height: 100%;
}

#root{
  height: 100%;
}
