* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root{
  /* element sizes */
  --header-height: 59px;

  /* colors */
  --color-primary-light: #06cf9c;
  --color-primary-normal: #00a884;
  --color-primary-dark: #018069e3; 
  
  --color-secondary-light: #53bdeb;

  /* backgrounds */
  --background-light: #202c33;
  --background-mid:  #111b21;

  /* borders */
  --border-light: 1px solid rgba(108, 108, 108, 0.334);

  /* text color */
  --text-color-light: rgb(221, 221, 221);
  --text-color-mid: #515f66;

  /* text size */
  --text-size-normal: 15px;
  --text-size-mid: 17px;
  --text-size-big: 19px;
  
  /* icon colors */
  --ui-icon-lighter: #e1eef725;
  --ui-icon-light: #aebac1;

  /* margins */
  --space-tiny: 4px;
  --space-small: 8px;
  --space-mid: 16px;
  --space-big: 20px;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
  height: 100%;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
