.app{
  height: 100%;
}

.app > div {
  height: 100%;
  background-color: var(--background-mid);
  display: flex;
}

.app__chats{
  height: 100%;
  flex: 3;
  min-width: 312px;
  max-width: 380px;
  border-right: 1px solid red;
}

.app__chats > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}



.app__messages {
  flex: 5;
}