.app{
  height: 100%;
}

.app > div {
  height: 100%;
  background-color: var(--background-mid);
  display: flex;
}

.app__chats{
  flex: 3;
  border-right: 1px solid red;
}

.app__messages {
  flex: 5;
}