.tab-btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background-color 0.08s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ui-icon-light);
}

.tab-btn_clicked {
    background-color: var(--ui-icon-lighter);
}

.tab-btn > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-btn > div > svg {
    fill: currentColor;
}